@media (max-width: 700px) {
  .thanks__card {
    padding: 20px;
  }
  .thanks__card-description {
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  .thanks__card {
    flex-direction: column;
  }
  .thanks__card-left {
    flex-direction: column;
  }
  .thanks__card-description {
    margin-left: 0;
    text-align: center;
  }
  .thanks__card-description__amount {
    margin-bottom: 30px;
  }
}