@import '@/styles/scss/_vars.scss';
@import '@/styles/scss/_fonts.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: 'Montserrat-Light', sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  /*ширина контейнера чистая 1170px*/
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-banner {
  /*ширина контейнера чистая 1170px*/
  max-width: 1040px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

.container-slider {
  /*ширина контейнера чистая 1110px*/
  max-width: 1040px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

.title {
  font-size: 22px;
  lh: $lh;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  margin-bottom: 30px;
}


// start работа с формой
.form-group {
  position: relative;

  & + .form-group {
    margin-left: 12px;
  }
}

.form-label {
  position: absolute;
  left: 15px;
  top: 10px;
  background-color: $lightBeige;
  z-index: 1;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  font-size: 18px;
  line-height: $lh;
  font-family: "Montserrat-Regular";
}

.focused .form-label {
  left: 0;
  top: -20px;
  font-size: .75em;
  color: $white;
  background-color: $beige;
}

.form-input {
  position: relative;
  padding: 12px 68px 12px 15px;
  width: 100%;
  outline: 0;
  border: 2px solid $beige;
  background-color: $lightBeige;
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}

.form-input.error {
  box-shadow: 0 2px 0 0 $beige;
}
// end работа с формой


// start empty
.empty {
  padding: 280px 0 0;
  transition: all .5s;
}
.empty.sticky {
  padding: 192px 0 0;
}


/*start breadcrumbs*/
.breadcrumbs {
  &__list {
    background-color: $white;
    display: inline-block;
    padding: 2px 8px;
  }
  &__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    font-size: 12px;
    line-height: $lh;
    font-weight: 400;
    color: $black;
    text-transform: none;
  }
  &__list-item a {
    text-transform: none;
    transition: all .3s;
    position: relative;
  }
  &__list-item a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 1px;
    //background-color: $burgundy;
    transition: all .3s;
  }
  &__list-item:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  &__list-item::after {
    content: '/';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0px;
    color: $black;
  }
  &__list-item:last-child::after {
    display: none;
  }
  &__list-item a:hover {
    //color: $burgundy;
  }
  &__list-item a:hover {
    &::before {
      width: 100%;
    }
  }
}
/*end breadcrumbs*/