@import '@/styles/scss/_vars.scss';
@import '@/styles/scss/_fonts.scss';
@import "../../../node_modules/ion-rangeslider/css/ion.rangeSlider.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 16px;
  line-height: $lh;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  line-height: $lh;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: 100px;
}

.container {
  /*ширина контейнера чистая 1170px*/
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-banner {
  /*ширина контейнера чистая 1170px*/
  max-width: 1040px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

.container-slider {
  /*ширина контейнера чистая 1110px*/
  max-width: 1040px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  margin-bottom: 30px;
}

button {
  cursor: pointer;
  outline: none;
}







