@import '@/styles/scss/_vars.scss';
@import '@/styles/scss/_fonts.scss';
@import "../../../node_modules/ion-rangeslider/css/ion.rangeSlider.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 16px;
  line-height: $lh;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  line-height: $lh;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  /*ширина контейнера чистая 1170px*/
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-banner {
  /*ширина контейнера чистая 1170px*/
  max-width: 1040px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

.container-slider {
  /*ширина контейнера чистая 1110px*/
  max-width: 1040px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  margin-bottom: 30px;
}


// start работа с формой
.form-group {
  position: relative;

  & + .form-group {
    margin-left: 12px;
  }
}

.form-label {
  position: absolute;
  left: 15px;
  top: 10px;
  background-color: $lightBeige;
  z-index: 1;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  font-family: "Montserrat-Regular";
}

.focused .form-label {
  left: 0;
  top: -20px;
  font-size: .75em;
  color: $white;
  background-color: $beige;
}

.form-input {
  position: relative;
  padding: 12px 68px 12px 15px;
  width: 100%;
  outline: 0;
  border: 2px solid $beige;
  background-color: $lightBeige;
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}

.form-input.error {
  box-shadow: 0 2px 0 0 $beige;
}
// end работа с формой


// start empty
.empty {
  padding: 280px 0 0;
  transition: all .5s;
}
.empty.sticky {
  padding: 192px 0 0;
}
.empty-mainPage {
  padding: 250px 0 0;
  transition: all .5s;
}
.empty-mainPage.sticky {
  padding: 10px 0 0;
}



/*start breadcrumbs*/
.breadcrumbs {
  padding-bottom: 50px;
  &__list {
    background-color: $white;
    display: inline-block;
    padding: 2px 8px;
    position: relative;
  }
  &__list::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 98%;
    background-color: $beige;
    bottom: -20px;
  }
  &__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    font-family: "Montserrat-Regular";
    color: $black;
    text-transform: none;
  }
  &__list-item a {
    text-transform: none;
    transition: all .3s;
    position: relative;
    font-family: "Montserrat-ExtraLight";
  }
  &__list-item a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    //background-color: $burgundy;
    transition: all .3s;
  }
  &__list-item:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  &__list-item::after {
    content: '/';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: $black;
    font-family: "Montserrat-ExtraLight";
  }
  &__list-item:last-child::after {
    display: none;
  }
  &__list-item a:hover {
    //color: $burgundy;
  }
  &__list-item a:hover {
    &::before {
      width: 100%;
    }
  }
}
/*end breadcrumbs*/


 // start card
.card {
  max-width: 224px;
  width: 100%;
  height: 360px;
  border: 1px solid #e4e4e4;
  padding: 10px;
  transition: all 0.5s;
    &:hover {
    box-shadow: 0 0 5px 5px rgba(170, 170, 170, 0.7);
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
  }
  &__content {
    flex: 1 0 auto;
    position: relative;
    &-favorite {
      position: absolute;
      top: 0;
      right: 3px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: none;
      outline: none;
    }
    &-img {
      text-align: center;
      height: 216px;
    }
    &__title {
      margin-bottom: 10px;
    }
  }
  &__footer {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    &-top__basket {
      cursor: pointer;
      border: none;
      background-color: transparent;
      outline: none;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
    }
    &-bottom__num {
      font-family: "Montserrat-SemiBold";
    }
    &-bottom__status {
      color: #b0976a;
    }
  }
}

.cards__inner-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: 40px;
  & .card {
    flex-basis: calc(33.3333% - 10px);
    margin-left: 10px;
    margin-bottom: 10px;
    & .card__content__text {
      display: none;
    }
    &.active {
      max-width: 100%;
      flex-basis: calc(100% - 10px);
      height: 268px;
    }
    &.active .card__wrapper {
      flex-direction: row;
    }
    &.active .card__content {
      display: flex;
    }
    &.active .card__content-favorite {
      left: 0;
    }
    &.active .card__content-img {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 50px;
    }
    &.active .card__content__title {
      font-family: "Montserrat-Medium";
      margin-bottom: 20px;
    }
    &.active .card__content__description {
      max-width: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 50px;
    }
    &.active .card__content__text {
      display: block;
      margin-bottom: 5px;
    }
    &.active .card__footer-top {
      display: none;
    }
    &.active .card__footer-bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-right: 100px;
    }
    &.active .card__footer-bottom__num {
      font-size: 24px;
      margin-bottom: 26px;
    }
    & .card__footer-bottom__delivery,
    & .card__footer-bottom__btn {
      display: none;
    }
    &.active .card__footer-bottom__delivery,
    &.active .card__footer-bottom__btn {
      display: block;
    }
    &.active .card__footer-bottom__status {
      margin-bottom: 5px;
    }
    & .card__footer-bottom__delivery {
      margin-bottom: 25px;
    }
    &.active .card__footer-bottom__btn {
      background-color: $beige;
      color: $white;
      outline: transparent;
      padding: 10px 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
      border: none;
      cursor: pointer;
    }
  }
}
 // end card


// start line-info
.line__info {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  border-top: 2px solid $beige;
  padding-top: 30px;
  & p {
    max-width: 416px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
// end line-info