@import '@/styles/scss/_vars.scss';
@import '@/styles/scss/_fonts.scss';
@import '@/styles/scss/_global.scss';
@import '@/styles/scss/layouts/sidebar.scss';

// start about
.about {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    padding-right: 15px;
    & h2 {
      //font-family: "Montserrat-Medium";
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
    }
    & p {
      margin-bottom: 30px;
    }
  }
  &__right {
    max-width: 312px;
    width: 100%;
    &-basket {
      border: 1px solid $beige;
      padding: 20px;
      margin-bottom: 12px;
      display: flex;
      justify-content: flex-start;
      &__title {
        //font-family: "Montserrat-Regular";
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin-bottom: 10px;
      }
      &__box {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 20px;
      }
      &__box-text {
        //font-family: "Montserrat-ExtraLight";
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: $lh;
      }
    }
    &-viewed {
      border: 1px solid $beige;
      padding: 20px;
      &__title {
        //font-family: "Montserrat-Regular";
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin-bottom: 20px;
      }
      &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        &-content__title {
          //font-family: "Montserrat-Regular";
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          color: $beige;
          margin-bottom: 10px;
        }
        &-content__price {
          //font-family: "Montserrat-Medium";
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
        }
      }
    }
  }
}
// end about

@import '@/styles/scss/media/media_about.scss';
