@import '@/styles/scss/_vars.scss';
@import '@/styles/scss/_fonts.scss';
@import '@/styles/scss/_global.scss';
@import '@/styles/scss/sidebar.scss';

// use jQuery Form Styler plugin
// use ion.rangeslider plugin
// use rate yo plugin

// start catalog
.catalog {
  padding-bottom: 100px;
  &-top__title {
    display: flex;
    & .title {
      font-family: "Montserrat-Bold";
    }
    & span {
      margin-left: 50px;
      text-transform: none;
      position: relative;
      top: 7px;
    }
  }
  &__inner {
    display: flex;
    &-aside {
      min-width: 224px;
      margin-right: 20px;
      margin-top: 47px;
    }
    &-content {
      max-width: 926px;
      width: 100%;
    }
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &-selects__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-selects .catalog__filter-element + .catalog__filter-element {
      margin-left: 30px;
    }
    &-selects__button {
      display: none;
      border: none;
      background-color: transparent;
      outline: transparent;
    }
    &-selects__button svg {
      width: 20px;
      height: 20px;
    }
    &-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-btn button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      outline: none;
    }
    &-btn button.catalog__filter-button.active svg path {
      fill: $beige;
      stroke: $beige;
    }
    &-btn button + button {
      margin-left: 20px;
    }
  }
}
// end catalog


// start pagination
.pagination {
  margin-bottom: 50px;
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-list__item {
    padding: 5px 7px;
    border: 1px solid $beige;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  &-list__item:hover {
    color: $white;
    background-color: $lightBeige;
    border: 1px solid $lightBeige;
    cursor: pointer;
  }
  &-list__item.active {
    border: 1px solid $beige;
    color: $white;
    background-color: $beige;
  }
  &-list__item.disabled {
    cursor: default;
    border: none;
    color: $disabled;
  }
  &-list__item a {
    display: block;
  }
  &-previous,
  &-next {
    display: flex;
    align-items: center;
    & p {
      position: relative;
      margin: 0 10px;
    }
    & p::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
    }
  }
  &-previous.disabled,
  &-next.disabled {
    cursor: default;
  }
  &-previous.disabled svg,
  &-next.disabled svg {
    fill: $disabled;
  }
  &-previous.disabled p,
  &-next.disabled p {
    color: $disabled;
  }
  &-previous.disabled p::before,
  &-next.disabled p::before {
    background-color: $disabled;
  }
}
// end pagination

// start aside form
.aside-filter {
  &__item-drop {
    margin: 18px 0;
  }
  &__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $gray;
    padding: 7px 10px 7px 15px;
    cursor: pointer;
    &.active svg {
      transform: rotate(180deg);
    }
  }
  &__item-title {
    font-family: "Montserrat-SemiBold";
  }
  &__content {
    padding-left: 15px;
  }
  &__content-box {
    margin: 10px 0;
  }
  &__content-rangeSlider {
    padding-bottom: 56px;
  }
  &__button {
    background-color: transparent;
    border: none;
    outline: transparent;
    display: none;
  }
}
// end aside form



// start Стилизация input checkbox
.custom-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  line-height: 0;
}
.custom-input + label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  //border-radius: 0.25em;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}
.custom-input:checked+label::before {
  border-color: $beige;
  background-color: $beige;
  //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-input:not(:disabled):not(:checked)+label:hover::before {
  border-color: $lightBeige;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-input:not(:disabled):active+label::before {
  background-color: $beige;
  border-color: $beige;
}
/* стили для чекбокса, находящегося в фокусе */
//.filter-style:focus+label::before {
//  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
//}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-input:focus:not(:checked)+label::before {
  border-color: $beige;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-input:disabled+label::before {
  background-color: #e9ecef;
}
// end Стилизация input checkbox


// start range-slider
.irs--flat {
  width: 100%;
  margin-top: -13px;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to {
  top: 50px;
  margin-left: 25px;
  padding: 3px 7px;
  text-shadow: none;
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 0;
  font-size: 16px;
  line-height: $lh;
  font-family: 'Montserrat-Light', sans-serif;
  color: $black;
  visibility: visible !important;
}

.irs--flat .irs-line {
  //top: 25px;
  height: 2px;
  background-color: $gray;
  border-radius: 0;
}

.irs--flat .irs-bar {
  //top: 25px;
  height: 2px;
  background-color: $beige;
}

.irs--flat .irs-handle {
  top: 22px;
  width: 8px;
  height: 8px;
  background-color: $white;
  border: 2px solid $beige;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
  background: transparent;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before {
  display: none;
}
//end range-slider




@import '@/styles/scss/media_catalog.scss';