@import '@/styles/scss/_vars.scss';
@import '@/styles/scss/_fonts.scss';
@import '@/styles/scss/_global.scss';
@import '@/styles/scss/sidebar.scss';
@import '@/styles/scss/cardProduct.scss';
@import '@/styles/scss/about.scss';
@import '@/styles/scss/categories.scss';
@import '@/styles/scss/catalog.scss';
@import '@/styles/scss/venetianMirrors.scss';

// start header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $white;
  padding: 50px 0 10px;
  transition: all .5s;
  &__inner-menuAndLogo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
    transition: all .5s;
  }
  &__logoAndHamburger {
    display: flex;
  }
  &__btn-menu {
    margin-right: 5px;
    height: 40px;
    width: 40px;
  }
  &__logo svg {
    max-width: 364px;
    width: 100%;
    transition: all .5s;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
  }
  &__menu.displayOff {
    display: none;
  }
  &__menu-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__buttons {
      display: flex;
      align-items: center;
    }
    &__buttons li + li {
      padding-left: 15px;
    }
    &__tel {
      font-size: 18px;
      line-height: $lh;
      margin: 0 110px;  
    }
    &__city {
      font-size: 18px;
      line-height: $lh;
      position: relative;
    }
    &__city::before {
      content: '';
      position: absolute;
      background-image: url('../../assets/images/icon-city.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      left: -28px;
      top: 0;
    }
  }
  &__menu-bottom {
    margin-top: 39px;
    transition: all .5s;
    & nav ul {
      display: flex;
    }
    & nav ul li + li {
      padding-left: 22px;
    }
    & nav ul li a {
      font-size: 18px;
      line-height: $lh;
    }
    & nav ul li a.active {
      font-family: "Montserrat-Medium";
      pointer-events: none;
      cursor: default;
    }
    & nav ul li .red {
      color: $red;
    }
  }
  &__categories {
    display: flex;
    justify-content: space-between;
    border: 2px solid $beige;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
    transition: all .5s;
    & li {
      padding: 23px 12px;
      transition: all .5s;
    }
    & li a {
      text-transform: uppercase;
    }
    &-item.active {
      background-color: $beige;
      color: $white;
    }
  }
  // Scroll
  &.sticky {
    padding: 15px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    & .header__inner-menuAndLogo {
      margin-bottom: 15px;
    }
    & .header__logo svg {
      max-width: 200px;
      height: 60px;
    }
    & .header__menu {
      justify-content: center;
    }
    & .header__menu-bottom {
      margin-top: 15px;
    }
    & .header__categories li {
      padding: 12px;
    }
  }
}
// end header


// start slider
.slider.sticky {
  padding: 160px 0 0;
}
.slider {
  padding: 0 0 20px;
  transition: all .5s;
  &__item {
    filter: drop-shadow(2px 6px 4px rgba(0, 0, 0, 0.25));
  }
  &__item img.slider-nav__item-img {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  &__item.item-nav img.slider-nav__item-img {
    margin: 0;
  }
  &__btn {
    display: flex;
    justify-content: center;
    &-link {
      border: 2px solid $beige;
      padding: 18px 30px;
      cursor: pointer;
      background-color: $white;
      background: linear-gradient(270deg, rgba(233,190,106,1), rgba(146,111,52,1), rgba(255,255,255,1), rgba(255,255,255,1));
      background-position: 1% 50%;
      background-size: 300% 300%;
      transition: all 0.7s ease-in-out;
    }
    &-link:hover {
      color: #fff;
      background-position: 99% 50%;
    }
  }
}

.slider-for {
  position: relative;
  margin-bottom: 50px;
}

.slider-for .slick-arrow {
  border: none;
  width: 35px;
  height: 52px;
  font-size: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.slider-for .slick-prev {
  background-image: url('../../assets/images/slider-arrow-left.svg');
  left: 0;
  margin-left: 15px;
}

.slider-for .slick-next {
  background-image: url('../../assets/images/slider-arrow-right.svg');
  right: 0;
  margin-right: 15px;
}

.slider-nav .slider__item {
  height: 328px;
  max-width: 333px;
  width: 100%;
}

// Резиновая главная картинка в слайдере
.slick-slide img {
  max-width: 100%;
  height: auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  & li {
    margin: 0 5px;
    cursor: pointer;
  }
  & li.slick-active button {
    background-color: $beige;
    outline: none;
  }
  & button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: $gray;
    border: none;
    outline: none;
  }
}

// end slider


// start products-slider
.products-slider {
  padding: 50px 0;
  font-size: 16px;
  &.popular-models {
    margin-bottom: 50px;
  }
  &__item {
    max-width: 224px;
    width: 100%;
    height: 360px;
    border: 1px solid $lightGray;
    padding: 10px;
    transition: all .5s;
  }
  &__item:hover {
    box-shadow: 0 0 5px 5px rgba(170, 170, 170, 0.7);
  }
  &__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    position: relative;
  }
  &__item-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    &__favorite {
      position: absolute;
      top: 0;
      right: 3px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
  &__item-footer {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      &-basket {
        cursor: pointer;
        border: none;
        background-color: transparent;
        outline: none;
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      &-num {
        font-family: "Montserrat-SemiBold";
      }
      &-status {
        color: $beige;
      }
    }
  }

  // В слайдере products-slider элементы выравниваем по равномерно центру
  .slick-slide {
    text-align: center;
  }

// В карточках картинки выравниваем по центру
  .slick-slide {
    padding: 4px !important;
  }
  .slick-slide img.products-slider__item-img {
    margin: 0 auto !important;
  }

  .slick-initialized .slick-slide {
    margin-right: 25px !important;
  }

  // Стрелки у слайдера
  .products-slider__inner {
    position: relative;
  }
  .products-slider__inner .slick-arrow {
    border: none;
    width: 35px;
    height: 52px;
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    outline: none;
  }
  .products-slider__inner .slick-prev {
    background-image: url('../../assets/images/icon-arrow-gray-left.svg');
    background-repeat: no-repeat;
    left: 0;
    margin-left: -40px;
  }
  .products-slider__inner .slick-next {
    background-image: url('../../assets/images/icon-arrow-gray-right.svg');
    background-repeat: no-repeat;
    right: 0;
    margin-right: -50px;
  }

}
// end products-slider


// start banner
.banner {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__center {
    &-text {
      font-size: 30px;
      line-height: $lh;
      font-family: "Montserrat-Medium";
      text-transform: uppercase;
      text-align: center;
      margin: 49px 0 18px;
    }
    &-discount {
      font-size: 45px;
      line-height: $lh;
      font-family: "Montserrat-Bold";
      text-transform: uppercase;
      color: $red;
      text-align: center;
      margin-bottom: 60px;
    }
    &-info {
      color: $beige;
      text-align: end;
    }
  }
}
// end banner


// start footer
.footer {
  background-color: $lightBeige;
  padding: 35px 0 30px;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    &-item + .footer__inner-item {
      padding-left: 15px;
    }
    & h4 {
      font-family: "Montserrat-Medium";
      margin-bottom: 20px;
    }
    & ul li a {
      font-family: "Montserrat-Regular";
      margin-bottom: 7px;
      transition: all .3s;
    }
    & ul li a:hover {
      color: $gray;
    }
    & p {
      font-family: "Montserrat-Regular";
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    &-title {
      font-family: "Montserrat-Regular";
      max-width: 311px;
      width: 100%;
      margin-bottom: 40px;
    }
    & form {
      display: flex;
    }
    &-input {
      filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    }
    &-button {
      border: none;
      background-color: $beige;
      cursor: pointer;
      transition: all .3s;
    }
    &-button:hover {
      background-color: $black;
    }
    &-button svg {
      width: 29px;
      height: 29px;
      fill: $black;
    }
  }
  &__politics {
    font-family: "Montserrat-Regular";
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  &__logoAndSocial {
    &-socialIcons {
      display: flex;
      justify-content: flex-end;
      & .social-icon + .social-icon {
        margin-left: 10px;
      }
    }
  }
}

// end footer




@import '@/styles/scss/_media.scss';