@media (max-width: 1200px) {
  .catalog__inner-content .cards__inner-list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .catalog__filter {
    justify-content: flex-start;
  }
  .catalog__filter-selects {
    padding-right: 30px;
  }
  .catalog__inner-content .cards__inner-list .card.active .card__footer-bottom {
    margin-right: 20px;
  }
  .catalog__inner-content .cards__inner-list .card.active .card__content-img {
    margin-left: 15px;
  }
  .catalog__inner-content .cards__inner-list .card.active .card__content__description {
    max-width: 200px;
    margin-left: 50px;
  }
}

@media (max-width: 980px) {
  .catalog__filter {
    flex-wrap: wrap;
  }
  .catalog__inner {
    flex-wrap: wrap;
  }
  .catalog__inner-aside {
    margin-top: 0;
  }
  .aside-filter__button {
    display: block;
    padding: 0;
  }
  .aside-filter__button svg {
    width: 30px;
    height: 30px;
  }
  .aside-filter__wrapper {
    max-height: 0;
    transition: all 1s ease-in-out;
    opacity: 0;
  }
  .aside-filter__wrapper.active {
    opacity: 1;
  }
  .catalog__filter-selects__wrapper {
    max-height: 0;
    transition: all 1s ease-in-out;
    opacity: 0;
  }
  .catalog__filter-selects__wrapper.active {
    opacity: 1;
  }
  .catalog__filter-btn {
    margin: 30px 0;
  }
  .catalog__filter-btn.active {
    position: relative;
    top: 15px;
  }
  .catalog__filter-selects__button {
    display: block;
  }
}

@media (max-width: 760px) {
  .catalog__inner-content .cards__inner-list .card.active .card__footer-bottom__num {
    font-size: 16px;
  }
  .catalog-top__title span {
    top: 3px;
  }
}

@media (max-width: 640px) {
  .catalog__inner-content .cards__inner-list .card.active .card__content__description {
    margin-left: 15px;
    max-width: 130px;
  }
  .catalog__filter {
    flex-direction: column;
    align-items: flex-start;
  }
  .catalog__filter-selects {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .catalog__filter-selects .catalog__filter-element + .catalog__filter-element {
    margin-left: 0;
    margin-top: 10px;
  }
  .catalog__inner-content .cards__inner-list .card.active .card__footer-bottom {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .catalog__inner-content .cards__inner-list .card.active .card__wrapper {
    flex-direction: column;
  }
  .catalog__inner-content .cards__inner-list .card.active {
    height: 380px;
  }
  .catalog__inner-content .cards__inner-list .card.active .card__content {
    justify-content: space-evenly;
  }
  .catalog__inner-content .cards__inner-list .card.active .card__footer-bottom__num {
    margin-bottom: 10px;
  }
  .pagination-list {
    flex-wrap: wrap;
  }
  .pagination .pagination-list a {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .catalog__inner-content .cards__inner-list .card.active .card__content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .catalog__inner-content .cards__inner-list .card.active {
    height: 550px;
  }
}